HELP.md
target/
build/
out/
bin/
.gradle/
.mvn/wrapper/maven-wrapper.jar
*.log
logs/
*.out
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.sw?
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
*.test
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*.pid
*.seed
*.pid.lock
*.coverage
*.lcov
*.lcov.info
*.sonar
.mvn/wrapper/maven-wrapper.jar
HELP.md
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
